# Manipulação de Arquivos

In [1]:
# Abrindo arquivo para leitura
arq1 = open("arquivos/arquivo1.txt", "r") # r = read

In [2]:
type(arg1)

NameError: name 'arg1' is not defined

In [ ]:
print(arq1.read())

In [ ]:
# Contar número de caracteres
print(arq1.tell())

In [ ]:
# Retornar para início do arquivo
print(arq1.seek(0,0))

In [ ]:
# Lendo os primeiros 23 caracteres
print(arq1.read(23))

In [ ]:
print(arq1.read())

# Gravando arquivo

In [ ]:
arq2 = open('arquivos/arquivo2.txt', "w")

In [ ]:
# Como abrimos arquivos apenas para gravação, não podemos usar comandos de leitura
print(arq2.read())

In [ ]:
# Gravando arquivo
arq2.write('Aprendendo a programa em Python')

In [ ]:
arq2.close()

In [ ]:
arq2 = open('arquivos/arquivo2.txt', 'a') # a = append

In [ ]:
arq2.write('E a metodologia de ensino da Data Science Academy facilita o aprendizado ')

In [ ]:
arq2.close()

In [ ]:
arq2 = open('arquivos/arquivo2.txt', 'r')

In [ ]:
print(arq2.read())

# Abrindo Dataset em Linha ùnica

In [ ]:
f = open('arquivos/salarios.csv', 'r')

In [ ]:
data = f.read()

In [ ]:
rows = data.split('/n')

In [ ]:
print(rows)

# Dividindo um Arquivo em Colunas

In [ ]:
f = open('arquivos/salarios.csv', 'r')

In [ ]:
data = f.read()

In [ ]:
rows = data.split('/n')

In [ ]:
full_data = [ ]

In [ ]:
type(rows)

In [ ]:
for row in rows:
    split_row = row.split(",")
    full_data.append(split_row)

In [ ]:
print(full_data)

# COntando as linhas de um arquivo

In [23]:
f = open('arquivos/salarios.csv', "r")

In [24]:
data = f.read()

In [30]:
rows = data.split('\n')

In [31]:
full_data = [ ]

In [32]:
for row in rows:
    split_row = row.split(',')
    full_data.append(split_row)

In [33]:
count = 0 
for row in full_data:
    count += 1

In [34]:
print(count)

32184

In [22]:
f.seek(0,0)

0

# Contando o Número de colunas em um arquivo

In [35]:
f = open('arquivos/salarios.csv', 'r')
data = f.read()
rows = data.split('\n')
full_data = [ ]

In [36]:
for row in rows:
    split_row = row.split(',')
    full_data.append(split_row)
    first_row = full_data[0]

In [37]:
count = 0 
for column in first_row:
    count = count +1

In [38]:
print(count)

4

# Gravando Arquivo pelo Jupyter Notebook

In [40]:
%%writefile arquivos/arquivo3.txt
Esse arquivo foi gerado pelo Jupyter Notebook
Podemos gerar quantas linhas quisermos e o Jupyter grava um arquivo final

Writing arquivos/arquivo3.txt

In [41]:
arq3 = open('arquivos/arquivo3.txt', 'r')

In [42]:
arq3.read()

'Esse arquivo foi gerado pelo Jupyter Notebook\nPodemos gerar quantas linhas quisermos e o Jupyter grava um arquivo final\n'

In [46]:
arq3.seek(0)
arq3.readlines()

['Esse arquivo foi gerado pelo Jupyter Notebook\n',
 'Podemos gerar quantas linhas quisermos e o Jupyter grava um arquivo final\n']

In [47]:
for line in open('arquivos/arquivo3.txt'):
    print(line)

Esse arquivo foi gerado pelo Jupyter Notebook

Podemos gerar quantas linhas quisermos e o Jupyter grava um arquivo final

# Importando um Dataset com Panda

In [48]:
import pandas as pd

In [49]:
pd.__version__

'1.4.4'

In [55]:
arquivo = 'arquivos/salarios.csv'

In [56]:
df = pd.read_csv(arquivo)

In [59]:
df.head()

,Name,Position Title,Department,Employee Annual Salary
0,"AARON, ELVIA J",WATER RATE TAKER,WATER MGMNT,$88967.00
1,"AARON, JEFFERY M",POLICE OFFICER,POLICE,$80778.00
2,"AARON, KARINA",POLICE OFFICER,POLICE,$80778.00
3,"AARON, KIMBERLEI R",CHIEF CONTRACT EXPEDITER,GENERAL SERVICES,$84780.00
4,"ABAD JR, VICENTE M",CIVIL ENGINEER IV,WATER MGMNT,$104736.00

In [61]:
df['Position Title'].value_counts()

POLICE OFFICER                            9489
FIREFIGHTER-EMT                           1191
SERGEANT                                  1138
FIREFIGHTER                                970
POLICE OFFICER (ASSIGNED AS DETECTIVE)     808
                                          ...
FOREMAN OF WINDOW WASHERS                    1
SUPVSR OF INFORMATION SERVICES               1
MANAGER OF TAX POLICY                        1
FOREMAN OF ARCHITECTURAL IRON WORKERS        1
MECHANICAL ENGINEER IV                       1
Name: Position Title, Length: 1094, dtype: int64