# <font color='blue'>Data Science Academy</font>

## <font color='blue'>Fundamentos de Linguagem Python Para Análise de Dados e Data Science</font>

## <font color='blue'>Capítulo 4 - Exercícios</font>

In [1]:
# Versão da Linguagem Python
from platform import python_version
print('Versão da Linguagem Python Usada Neste Jupyter Notebook:', python_version())

Versão da Linguagem Python Usada Neste Jupyter Notebook: 3.8.8

## Exercícios

In [ ]:
# Exercício 1 - Imprima na tela os números de 1 a 10. Use uma lista para armazenar os números.
lista = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
print(lista)

In [8]:
lista = list(range(1,11))
lista

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [9]:
# Exercício 2 - Crie uma lista de 5 objetos e imprima na tela
lista_objetos = ['HB20', '208', 'Argo', 'Idea', 'Onix']
lista_objetos

['HB20', '208', 'Argo', 'Idea', 'Onix']

In [12]:
# Exercício 3 - Crie duas strings e concatene as duas em uma terceira string

nome = 'Sarah'
sobrenome = 'Nathallia'

nome_completo = nome + ' ' +sobrenome
nome_completo

'Sarah Nathallia'

In [15]:
# Exercício 4 - Crie uma tupla com os seguintes elementos: 1, 2, 2, 3, 4, 4, 4, 5 e depois utilize a função count do 
# objeto tupla para verificar quantas vezes o número 4 aparece na tupla

tupla1 = (1, 2, 2, 3, 4, 4, 4, 5)
print(tupla1)
tupla1.count(4)

(1, 2, 2, 3, 4, 4, 4, 5)

3

In [17]:
# Exercício 5 - Crie um dicionário vazio e imprima na tela
dict1 = { }
dict1

{}

In [24]:
# Exercício 6 - Crie um dicionário com 3 chaves e 3 valores e imprima na tela
dict2 = {'Sarah': 20, 'Gabriel': 22, 'Algodão': 8}
dict2

{'Sarah': 20, 'Gabriel': 22, 'Algodão': 8}

In [26]:
# Exercício 7 - Adicione mais um elemento ao dicionário criado no exercício anterior e imprima na tela
dict2['Millena'] = 21
dict2

{'Sarah': 20, 'Gabriel': 22, 'Algodão': 8, 'Millena': 21}

In [33]:
# Exercício 8 - Crie um dicionário com 3 chaves e 3 valores. 
# Um dos valores deve ser uma lista de 2 elementos numéricos. 
# Imprima o dicionário na tela.
dict3 = {'Sarah': 20, 'Gabriel': 22, 'numericos':[1, 2]}
dict3

{'Sarah': 20, 'Gabriel': 22, 'numericos': [1, 2]}

In [48]:
# Exercício 9 - Crie uma lista de 4 elementos. O primeiro elemento deve ser uma string, 
# o segundo uma tupla de 2 elementos, o terceiro um dcionário com 2 chaves e 2 valores e 
# o quarto elemento um valor do tipo float.
# Imprima a lista.
lista2 = ['Primeiro', ('Segundo', 'Terceiro'), {'Sarah': 20, 'Gabriel': 22}, 9.8]
lista2

['Primeiro', ('Segundo', 'Terceiro'), {'Sarah': 20, 'Gabriel': 22}, 9.8]

In [49]:
# Exercício 10 - Considere a string abaixo. Imprima na tela apenas os caracteres da posição 1 a 18.
frase = 'Cientista de Dados é o profissional mais sexy do século XXI'
frase[0:18]

'Cientista de Dados'

# Fim

### Obrigado

### Visite o Blog da Data Science Academy - <a href="http://blog.dsacademy.com.br">Blog DSA</a>