# Trabalhando com Tuplas

In [2]:
# Criando uma tupla
tupla1 = ("Geografia", 23, "Elefante", 9.8, "Python")

In [3]:
tupla1

('Geografia', 23, 'Elefante', 9.8, 'Python')

In [5]:
# Tuplas não suportam append()
tupla1.append('Chocolate')

AttributeError: 'tuple' object has no attribute 'append'

In [6]:
# Tuplas não suportam delete de um item especifico
del tupla1('Elefante')

SyntaxError: cannot delete function call (1305073561.py, line 2)

In [7]:
# Tuplas podem ter um único item
tupla1 = ('Chocolate')

In [9]:
tupla1[0]

'C'

In [10]:
tupla1

'Chocolate'

In [11]:
tupla1 = ("Geografia", 23, "Elefante", 9.8, "Python")

In [12]:
len(tupla1)

5

In [14]:
# Tuplas não suportam atribuição de item
tupla1[1] = 21

TypeError: 'tuple' object does not support item assignment

In [15]:
# Deletando Tupla
del tupla1

In [16]:
tupla1

NameError: name 'tupla1' is not defined

In [17]:
t2 = ('A', 'B', 'C')

In [18]:
t2

('A', 'B', 'C')

In [19]:
# Tuplas não suportam atribuição de item
t2[0] = 'D'

TypeError: 'tuple' object does not support item assignment

In [20]:
# Usando a função list() para converter uma tupla para lista
lista_t2 = list(t2)

In [21]:
lista_t2

['A', 'B', 'C']

In [23]:
lista_t2.append("D")

In [24]:
lista_t2

['A', 'B', 'C', 'D']

In [25]:
# Usando a função tuple() para converter uma lista para tupla
t2 = tuple(lista_t2)

In [26]:
t2

('A', 'B', 'C', 'D')

In [27]:
lista_t2

['A', 'B', 'C', 'D']